.filter {
  max-width: 800px;
  margin: 0 auto;
}

.expenses-filter {
  color: white;
}

@media screen and (max-width: 860px) {
  .expenses-filter {
    padding: 0 1rem;
  }
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}