.new-expense__controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.new-expense__control {
  width: 100%;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.date label {
  margin-bottom: 0.45rem;
}

.new-expense__actions {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

button {
  height: 60px;
}
